@import "bootstrap/dist/css/bootstrap.css";

#root {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 10px);
  grid-auto-rows: 1fr;
  border: 0;
  padding: 0;
}

nav {
  background-color: #ec4c8b;
}

.nav-button {
  border: 0;
  font-size: 2rem;
  background-color: #ec4c8b;
  color: white;
}

.box {
  background-color: #fd5294;
  color: #fff;
  font-size: 120%;
  border: 0;
  padding: 0.5rem;
}