@import "bootstrap/dist/css/bootstrap.css";

#root {
  margin: 0;
  padding: 0;
}

.location {
  display: grid;
  grid-auto-rows: 1fr;
  height: calc(100vh - 10px);
  background-color: #fd5294;
}

.my-app {
  padding: 0;
}

.location div {
  padding: 0.5rem;
  display: flex;
  color: #f8e5ec;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-between;
}

.location div:nth-child(odd) {
  background: #ce4177;
}

.location div:nth-child(even) {
  background: #e84a88;
}

.fill-title {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.fill-title p {
  font-size: 1.3rem;
}

.station {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.sub-title {
  font-size: 1rem;
  font-weight: 400;
}

.name-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.fill span {
  font-size: 1.5rem;
}

.location div span {
  margin: auto 0;
}

.station .geo {
  font-size: 1rem;
  font-weight: 400;
}

.icons {
  margin-top: auto;
  color: white;
  font-size: 2rem;
}

.mic {
  margin-right: 0.5rem;
}

.links {
  text-decoration: none;
  color: white;
}

.fill {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 10px);
  grid-auto-rows: 1fr;
  border: 0;
  padding: 0;
  background-color: #ec4c8b;
}

nav {
  background-color: #ec4c8b;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  border: 0;
  font-size: 2rem;
  background-color: #ec4c8b;
  color: white;
}

.box {
  background-color: #fd5294;
  color: #fff;
  font-size: 120%;
  border: 0;
  padding: 0.5rem;
}

.wrapper .box:nth-child(4n+1),
.wrapper .box:nth-child(4n+4) {
  background-color: #ce4177;
}
